//Colores//
$color-blanco: white;
$color-negro: black;
$color-galeria: rgba(255, 255, 255, 0.8);
$color-aliceblue: aliceblue;
$color-formulario: #525c66;
$color-celeste: #0095eb;


//Media Queries//
$media-query-tablet: 1024px;
$media-query-mobile: 480px;